<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="con:RestService" id="b09421e3-1491-42ae-8b2b-663599ccda74" wadlVersion="http://wadl.dev.java.net/2009/02" name="APIMethods" type="rest">
  <con:settings id="585d5f51-9dc5-4b1c-8dc7-e48f64c59942">
    <con:setting id="b09421e3-1491-42ae-8b2b-663599ccda74fileName">APIMethods</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.restful-api.dev</con:endpoint>
  </con:endpoints>
</con:interface>
